// 定义常用的间距单位，一般用作 padding，margin 等间距
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 6px;
$spacing-4: 8px;
$spacing-5: 10px;
$spacing-6: 12px;
$spacing-7: 14px;
$spacing-8: 16px;
$spacing-9: 18px;
$spacing-10: 20px;
$spacing-11: 22px;
$spacing-12: 24px;

// 所有方向 margin
.ma-0{margin: 0;}
.ma-1{margin: $spacing-1;}
.ma-2{margin: $spacing-2;}
.ma-3{margin: $spacing-3;}
.ma-4{margin: $spacing-4;}
.ma-5{margin: $spacing-5;}
.ma-6{margin: $spacing-6;}
.ma-7{margin: $spacing-7;}
.ma-8{margin: $spacing-8;}
.ma-9{margin: $spacing-9;}
.ma-10{margin: $spacing-10;}
.ma-11{margin: $spacing-11;}
.ma-12{margin: $spacing-12;}

// 垂直方向 margin
.mv-0{margin-top: 0; margin-bottom: 0;}
.mv-1{margin-top: $spacing-1; margin-bottom: $spacing-1;}
.mv-2{margin-top: $spacing-2; margin-bottom: $spacing-2;}
.mv-3{margin-top: $spacing-3; margin-bottom: $spacing-3;}
.mv-4{margin-top: $spacing-4; margin-bottom: $spacing-4;}
.mv-5{margin-top: $spacing-5; margin-bottom: $spacing-5;}
.mv-6{margin-top: $spacing-6; margin-bottom: $spacing-6;}
.mv-7{margin-top: $spacing-7; margin-bottom: $spacing-7;}
.mv-8{margin-top: $spacing-8; margin-bottom: $spacing-8;}
.mv-9{margin-top: $spacing-9; margin-bottom: $spacing-9;}
.mv-10{margin-top: $spacing-10; margin-bottom: $spacing-10;}
.mv-11{margin-top: $spacing-11; margin-bottom: $spacing-11;}
.mv-12{margin-top: $spacing-12; margin-bottom: $spacing-12;}

// 水平方向 margin
.mh-0{margin-left:0; margin-right: 0;}
.mh-1{margin-left: $spacing-1; margin-right:$spacing-1;}
.mh-2{margin-left: $spacing-2; margin-right:$spacing-2;}
.mh-3{margin-left: $spacing-3; margin-right:$spacing-3;}
.mh-4{margin-left: $spacing-4; margin-right:$spacing-4;}
.mh-5{margin-left: $spacing-5; margin-right:$spacing-5;}
.mh-6{margin-left: $spacing-6; margin-right:$spacing-6;}
.mh-7{margin-left: $spacing-7; margin-right:$spacing-7;}
.mh-8{margin-left: $spacing-8; margin-right:$spacing-8;}
.mh-9{margin-left: $spacing-9; margin-right:$spacing-9;}
.mh-10{margin-left: $spacing-10; margin-right:$spacing-10;}
.mh-11{margin-left: $spacing-11; margin-right:$spacing-11;}
.mh-12{margin-left: $spacing-12; margin-right:$spacing-12;}

// margin-left
.ml-0{margin-left: 0;}
.ml-1{margin-left: $spacing-1;}
.ml-2{margin-left: $spacing-2;}
.ml-3{margin-left: $spacing-3;}
.ml-4{margin-left: $spacing-4;}
.ml-5{margin-left: $spacing-5;}
.ml-6{margin-left: $spacing-6;}
.ml-7{margin-left: $spacing-7;}
.ml-8{margin-left: $spacing-8;}
.ml-9{margin-left: $spacing-9;}
.ml-10{margin-left: $spacing-10;}
.ml-11{margin-left: $spacing-11;}
.ml-12{margin-left: $spacing-12;}

// margin-right
.mr-0{margin-right: 0;}
.mr-1{margin-right: $spacing-1;}
.mr-2{margin-right: $spacing-2;}
.mr-3{margin-right: $spacing-3;}
.mr-4{margin-right: $spacing-4;}
.mr-5{margin-right: $spacing-5;}
.mr-6{margin-right: $spacing-6;}
.mr-7{margin-right: $spacing-7;}
.mr-8{margin-right: $spacing-8;}
.mr-9{margin-right: $spacing-9;}
.mr-10{margin-right: $spacing-10;}
.mr-11{margin-right: $spacing-11;}
.mr-12{margin-right: $spacing-12;}

// margin-top
.mt-0{margin-top: 0;}
.mt-1{margin-top: $spacing-1;}
.mt-2{margin-top: $spacing-2;}
.mt-3{margin-top: $spacing-3;}
.mt-4{margin-top: $spacing-4;}
.mt-5{margin-top: $spacing-5;}
.mt-6{margin-top: $spacing-6;}
.mt-7{margin-top: $spacing-7;}
.mt-8{margin-top: $spacing-8;}
.mt-9{margin-top: $spacing-9;}
.mt-10{margin-top: $spacing-10;}
.mt-11{margin-top: $spacing-11;}
.mt-12{margin-top: $spacing-12;}

// margin-bottom
.mb-0{margin-bottom: 0;}
.mb-1{margin-bottom: $spacing-1;}
.mb-2{margin-bottom: $spacing-2;}
.mb-3{margin-bottom: $spacing-3;}
.mb-4{margin-bottom: $spacing-4;}
.mb-5{margin-bottom: $spacing-5;}
.mb-6{margin-bottom: $spacing-6;}
.mb-7{margin-bottom: $spacing-7;}
.mb-8{margin-bottom: $spacing-8;}
.mb-9{margin-bottom: $spacing-9;}
.mb-10{margin-bottom: $spacing-10;}
.mb-11{margin-bottom: $spacing-11;}
.mb-12{margin-bottom: $spacing-12;}

// 所有方向 padding
.pa-0{padding: 0;}
.pa-1{padding: $spacing-1; box-sizing: border-box;}
.pa-2{padding: $spacing-2; box-sizing: border-box;}
.pa-3{padding: $spacing-3; box-sizing: border-box;}
.pa-4{padding: $spacing-4; box-sizing: border-box;}
.pa-5{padding: $spacing-5; box-sizing: border-box;}
.pa-6{padding: $spacing-6; box-sizing: border-box;}
.pa-7{padding: $spacing-7; box-sizing: border-box;}
.pa-8{padding: $spacing-8; box-sizing: border-box;}
.pa-9{padding: $spacing-9; box-sizing: border-box;}
.pa-10{padding: $spacing-10; box-sizing: border-box;}
.pa-11{padding: $spacing-11; box-sizing: border-box;}
.pa-12{padding: $spacing-12; box-sizing: border-box;}

// 垂直方向 margin
.pv-0{padding-top: 0; padding-bottom:0;}
.pv-1{padding-top: $spacing-1; padding-bottom:$spacing-1; box-sizing: border-box;}
.pv-2{padding-top: $spacing-2; padding-bottom:$spacing-2; box-sizing: border-box;}
.pv-3{padding-top: $spacing-3; padding-bottom:$spacing-3; box-sizing: border-box;}
.pv-4{padding-top: $spacing-4; padding-bottom:$spacing-4; box-sizing: border-box;}
.pv-5{padding-top: $spacing-5; padding-bottom:$spacing-5; box-sizing: border-box;}
.pv-6{padding-top: $spacing-6; padding-bottom:$spacing-6; box-sizing: border-box;}
.pv-7{padding-top: $spacing-7; padding-bottom:$spacing-7; box-sizing: border-box;}
.pv-8{padding-top: $spacing-8; padding-bottom:$spacing-8; box-sizing: border-box;}
.pv-9{padding-top: $spacing-9; padding-bottom:$spacing-9; box-sizing: border-box;}
.pv-10{padding-top: $spacing-10; padding-bottom:$spacing-10; box-sizing: border-box;}
.pv-11{padding-top: $spacing-11; padding-bottom:$spacing-11; box-sizing: border-box;}
.pv-12{padding-top: $spacing-12; padding-bottom:$spacing-12; box-sizing: border-box;}

// 水平方向 margin
.ph-0{padding: 0;}
.ph-1{padding-left: $spacing-1; padding-right:$spacing-1; box-sizing: border-box;}
.ph-2{padding-left: $spacing-2; padding-right:$spacing-2; box-sizing: border-box;}
.ph-3{padding-left: $spacing-3; padding-right:$spacing-3; box-sizing: border-box;}
.ph-4{padding-left: $spacing-4; padding-right:$spacing-4; box-sizing: border-box;}
.ph-5{padding-left: $spacing-5; padding-right:$spacing-5; box-sizing: border-box;}
.ph-6{padding-left: $spacing-6; padding-right:$spacing-6; box-sizing: border-box;}
.ph-7{padding-left: $spacing-7; padding-right:$spacing-7; box-sizing: border-box;}
.ph-8{padding-left: $spacing-8; padding-right:$spacing-8; box-sizing: border-box;}
.ph-9{padding-left: $spacing-9; padding-right:$spacing-9; box-sizing: border-box;}
.ph-10{padding-left: $spacing-10; padding-right:$spacing-10; box-sizing: border-box;}
.ph-11{padding-left: $spacing-11; padding-right:$spacing-11; box-sizing: border-box;}
.ph-12{padding-left: $spacing-12; padding-right:$spacing-12; box-sizing: border-box;}

// padding-left
.pl-0{padding-left: 0;}
.pl-1{padding-left: $spacing-1; box-sizing: border-box;}
.pl-2{padding-left: $spacing-2; box-sizing: border-box;}
.pl-3{padding-left: $spacing-3; box-sizing: border-box;}
.pl-4{padding-left: $spacing-4; box-sizing: border-box;}
.pl-5{padding-left: $spacing-5; box-sizing: border-box;}
.pl-6{padding-left: $spacing-6; box-sizing: border-box;}
.pl-7{padding-left: $spacing-7; box-sizing: border-box;}
.pl-8{padding-left: $spacing-8; box-sizing: border-box;}
.pl-9{padding-left: $spacing-9; box-sizing: border-box;}
.pl-10{padding-left: $spacing-10; box-sizing: border-box;}
.pl-11{padding-left: $spacing-11; box-sizing: border-box;}
.pl-12{padding-left: $spacing-12; box-sizing: border-box;}

// padding-right
.pr-0{padding-right: 0;}
.pr-1{padding-right: $spacing-1; box-sizing: border-box;}
.pr-2{padding-right: $spacing-2; box-sizing: border-box;}
.pr-3{padding-right: $spacing-3; box-sizing: border-box;}
.pr-4{padding-right: $spacing-4; box-sizing: border-box;}
.pr-5{padding-right: $spacing-5; box-sizing: border-box;}
.pr-6{padding-right: $spacing-6; box-sizing: border-box;}
.pr-7{padding-right: $spacing-7; box-sizing: border-box;}
.pr-8{padding-right: $spacing-8; box-sizing: border-box;}
.pr-9{padding-right: $spacing-9; box-sizing: border-box;}
.pr-10{padding-right: $spacing-10; box-sizing: border-box;}
.pr-11{padding-right: $spacing-11; box-sizing: border-box;}
.pr-12{padding-right: $spacing-12; box-sizing: border-box;}

// padding-top
.pt-0{padding-top: 0;}
.pt-1{padding-top: $spacing-1; box-sizing: border-box;}
.pt-2{padding-top: $spacing-2; box-sizing: border-box;}
.pt-3{padding-top: $spacing-3; box-sizing: border-box;}
.pt-4{padding-top: $spacing-4; box-sizing: border-box;}
.pt-5{padding-top: $spacing-5; box-sizing: border-box;}
.pt-6{padding-top: $spacing-6; box-sizing: border-box;}
.pt-7{padding-top: $spacing-7; box-sizing: border-box;}
.pt-8{padding-top: $spacing-8; box-sizing: border-box;}
.pt-9{padding-top: $spacing-9; box-sizing: border-box;}
.pt-10{padding-top: $spacing-10; box-sizing: border-box;}
.pt-11{padding-top: $spacing-11; box-sizing: border-box;}
.pt-12{padding-top: $spacing-12; box-sizing: border-box;}

// padding-bottom
.pb-0{padding-bottom: 0;}
.pb-1{padding-bottom: $spacing-1; box-sizing: border-box;}
.pb-2{padding-bottom: $spacing-2; box-sizing: border-box;}
.pb-3{padding-bottom: $spacing-3; box-sizing: border-box;}
.pb-4{padding-bottom: $spacing-4; box-sizing: border-box;}
.pb-5{padding-bottom: $spacing-5; box-sizing: border-box;}
.pb-6{padding-bottom: $spacing-6; box-sizing: border-box;}
.pb-7{padding-bottom: $spacing-7; box-sizing: border-box;}
.pb-8{padding-bottom: $spacing-8; box-sizing: border-box;}
.pb-9{padding-bottom: $spacing-9; box-sizing: border-box;}
.pb-10{padding-bottom: $spacing-10; box-sizing: border-box;}
.pb-11{padding-bottom: $spacing-11; box-sizing: border-box;}
.pb-12{padding-bottom: $spacing-12; box-sizing: border-box;}
